 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sonoma Mountain Connection (SMC) is a two-year cohort program for first-time, first-year students in Science, Technology, Engineering, and Math (STEM) majors, funded by the Koret Foundation.</p>
                </div>
                <div class="col-lg-4">
                    <p>SMC integrates three of the highest-impact educational practices documented to improve academic success: cohorting, research experiences, and outdoor learning. </p>
                </div>
            </div>
        </div>
    </section>
